
@charset "utf-8";
/* CSS Document */
body{
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  background-image: url("page-bg.gif");
background-color: #F7F3DE;
background-repeat: no-repeat;
 background-attachment: fixed;
}

header{font-size: 350%;
  color: #7C1A00;
  padding: 40px;
  padding-left: 120px;
  background-image: url("header-image-1.gif");
  background-position: left;
  background-repeat: no-repeat;
}
